/* Universal elements starts from here */

* {
  font-family: helvetica;
  margin: 0;
}

/* Header section starts from here */

.header {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 40px 250px;
}

/* Header logo */

.logo {
  font-size: 24px;
}

/* header list */

.list {
  font-size: 18px;
  color: #e5e7eb;
  list-style-type: none;
  display: flex;
  gap: 30px;
}

/* Hero section starts here */

.hero {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  flex-direction: column;
  justify-content:left;
  align-content: center;
  padding: 40px 250px;
}

/* here logo */

.hero-logo {
  
}